
// import SCSS file
@import "reset";

// Start Style
body{
    font-family: $GlobalFFamily;
    font-size: $GlobalFSize;
}
.slidewarp{
    .slideMap{
        width: 100%;
        overflow: hidden;
        height: 426px;
        .slideItem{
            width: 100%;
            display: none;
            float: left;
            height: 426px;
        }
    }
    .slideNav{
        a{
            padding: 5px 10px;
            background: #f0f0f0;
            margin-top: 30px;
            text-decoration: none;
            display: inline-block;
            color:#666;
            &.slideRight{
                float: right;
            }
            &.slideLeft{
               float: left; 
            }
            &:hover,&:active{
                background: #ddd;
            }
        }
    }
}

